{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "components": "./components",
                    "utils": "./utils",
                    "hooks": "./hooks",
                    "pages": "./pages",
                    "store": "./store",
                    "styles": "./styles"
                }
            }
        ]
    ]
}
